.gray {
	background: gray;
	color: yellow;
}

.component2 {
	background: #333;
	color: white;
	padding: 1em;
	display: inline-block;
}
.button1 {
	display: block;
	background: #b20000;
	color: white;
	padding: 10px;
	border: none;
}